<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Codebreaker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/game-over.css" type="text/css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/start">Codebreaker</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/start">Game</a></li>
          <li><a href="/score_table">Score table</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="wrapper">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if game.win %>
          <h2>You are win!</h2>
        <% else %>
          <h2>You are lose :(</h2>
        <% end %>
      </div>
      <div class="panel-body">
        <h3>Your score is:</h3>
        <div>Win: <%=game.win%></div>
        <div>Turns: <%=15 - game.turns%></div>
        <div>Hints: <%=1 - game.hints%></div>
        <h3>Do you want save your score?</h3>
        <form class="form-inline" method="post" action="/save_score">
          <div class="form-group">
            <input class="form-control" name="username" type="text" placeholder="Your name">
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</body>
</html>
